.modal-header-login {
    color: black;
    font-weight: 600;
    font-size: large;
    background: #ffffff !important;
}
.login.modal-content{
    border-radius: 2vw;
}

.closebtn:hover {
    background: black !important;
}
.modal-body-login {
    padding: 2vw !important;
    background-color: #fdfeff !important;
}

.whitebtn {
      background-color: #ffffff !important;
      width: 44%;
}
.whitebtn:hover {
    background-color: #e1e7e5 !important;
}

.modal-content-login {
    border-radius: 1rem !important;
    overflow: hidden;
}